In [2]:
import pandas as pd

df = pd.read_csv('Merge/MERGEAIRTEL.csv', sep='|')
df.head()

,Difference,date,nextClose,nextDay,prevClose,prevDay,text
0,-1.30,2011-06-08,376.55,2011-06-09,377.85,2011-06-07,Airtel commences 3G services in J&K
1,5.35,2011-06-13,379.30,2011-06-14,373.95,2011-06-10,"Airtel dances to African tune, sees more 3G li..."
2,3.80,2011-06-16,380.55,2011-06-17,376.75,2011-06-15,TCIL may approach company law board against Bh...
3,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Malkani bullish on Bharti Airtel
4,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Hold Bharti Airtel: Angel Broking

In [6]:
df = df.sort_values(by='Difference')
df.to_csv('Analytics/ANALAIRTEL.CSV', index=False, sep='|')