In [58]:
import string 
import unicodedata
import sys
import collections
import random
import math
import os
from collections import Counter
from ast import literal_eval
import regex as re
import pickle
from functools import reduce
from datetime import datetime 

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import xgboost as xgb
import lightgbm as lgbm
from IPython.display import display

from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import BernoulliNB
from sklearn.ensemble import RandomForestClassifier

from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem.wordnet import WordNetLemmatizer

import tensorflow as tf
from keras.models import Sequential, Model, load_model
from keras.layers import (  Dense, Conv1D, Activation, MaxPool1D, 
                            Embedding, Flatten, Reshape, concatenate, 
                            Input, Dropout, LSTM, AveragePooling1D, Masking )
from keras import optimizers
from keras import backend as K
from keras.callbacks import ModelCheckpoint, EarlyStopping
import h5py as h5py

%matplotlib inline

In [59]:
df = pd.DataFrame()

for filename in os.listdir(os.path.join(os.getcwd(), 'datasets')):
    if filename[-3:] == 'csv':
        df = df.append(pd.read_csv(os.path.join(os.getcwd(), 'datasets', filename), sep='|'), ignore_index=True)   
    
# display(df.head())
df.head()

,Difference,date,nextClose,nextDay,prevClose,prevDay,text
0,-1.30,2011-06-08,376.55,2011-06-09,377.85,2011-06-07,Airtel commences 3G services in J&K
1,5.35,2011-06-13,379.30,2011-06-14,373.95,2011-06-10,"Airtel dances to African tune, sees more 3G li..."
2,3.80,2011-06-16,380.55,2011-06-17,376.75,2011-06-15,TCIL may approach company law board against Bh...
3,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Malkani bullish on Bharti Airtel
4,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Hold Bharti Airtel: Angel Broking

In [60]:
df.describe()

         Difference     nextClose     prevClose
count  30045.000000  30045.000000  30045.000000
mean      -2.832062   1089.146976   1091.979038
std       91.934622    775.223777    778.694248
min    -2648.650000    162.050000    155.900000
25%      -12.100000    405.950000    405.850000
50%        0.950000    938.000000    934.250000
75%       14.900000   1436.400000   1445.050000
max      303.050000   4365.900000   4359.850000

In [61]:
stops = stopwords.words('english')
porter = PorterStemmer()
lemma = WordNetLemmatizer()

tbl = dict.fromkeys(i for i in range(sys.maxunicode)
                      if unicodedata.category(chr(i)).startswith('P') or i == 36 or i == ord('`'))


def remove_punctuation(text):
    '''
    From https://stackoverflow.com/questions/11066400/remove-punctuation-from-unicode-formatted-strings

    '''
    return text.translate(tbl)


def remove_stopwords(text, ret_format='str'):
    tokens = filter(lambda x: x not in stops, map(porter.stem, word_tokenize(text)))
    if ret_format == 'list':
        return list(tokens)
    elif ret_format == 'str':
        return ' '.join(tokens)
    else:
        raise Exception('Invalid format')


def restore_arr(a):
    '''
        Converts strings to python list
        
        params:
            a: String -> Input string to be converted to array
        return:
            list
        
        Usage with pandas:
            train_mod = pd.read_csv('modified_train.csv', converters={'description_norm': restore_arr})
    '''
    return [x.replace("'", "") for x in a[:-1][1:].split(', ')]
        
    

def restore_int_arr(a):
    return [int(x.replace("'", "")) for x in a[:-1][1:].split(', ')]
    

def restore_float_arr(a):
    ret = [float(x.replace("'", "")) for x in a[:-1][1:].split(', ')]
    if len(ret) == 1:
        return ret[0]
    else:
        return ret
    
def lemmatize(a):
    return [lemma.lemmatize(x) for x in a.split()]

def remove_numbers(a):
    ans = []
    for s in a.split():
        try:
            g = int(s)
        except ValueError:
            ans.append(s)
            
    return ' '.join(ans)

In [62]:
df['text_norm'] = df['text']\
                    .apply(str.lower)\
                    .apply(remove_punctuation)\
                    .apply(remove_numbers)\
                    .apply(remove_stopwords)\
                    .apply(lambda x: x.split())

In [63]:
df['date'] = df['date'].apply(lambda x: datetime.strptime(x, '%Y-%m-%d'))

In [64]:
df['target'] = (df['Difference'] > 0).astype('int')

In [72]:
last_date = datetime.strptime('2016 Dec 31', '%Y %b %d')

# test = df[last_date < df['date']]
# train = df[last_date >= df['date']]
train = df

display(test.head())
display(train.head())
display(test.describe())
display(test.tail())

,Difference,date,nextClose,nextDay,prevClose,prevDay,text,text_norm,target
2122,-1.2,2017-01-02,304.45,2017-01-03,305.65,2016-12-30,GSM telcos gain over 10mn subscribers in Nov; ...,"[gsm, telco, gain, 10mn, subscrib, nov, idea, ...",0
2123,2.9,2017-01-03,313.90,2017-01-04,311.00,2017-01-02,"Tulsian's take on Bharat Financial, oil & gas ...","[tulsian, take, bharat, financi, oil, ga, co, ...",1
2124,2.9,2017-01-03,313.90,2017-01-04,311.00,2017-01-02,Tariff War:Airtel offers 3GB free 4G mthly dat...,"[tariff, warairtel, offer, 3gb, free, 4g, mthl...",1
2125,2.9,2017-01-03,313.90,2017-01-04,311.00,2017-01-02,Airtel in discussions to buy Telenor's Indian ...,"[airtel, discuss, buy, telenor, indian, busi]",1
2126,2.9,2017-01-03,313.90,2017-01-04,311.00,2017-01-02,Maximum call drop recorded on Aircel network i...,"[maximum, call, drop, record, aircel, network,...",1

,Difference,date,nextClose,nextDay,prevClose,prevDay,text,text_norm,target
0,-1.30,2011-06-08,376.55,2011-06-09,377.85,2011-06-07,Airtel commences 3G services in J&K,"[airtel, commenc, 3g, servic, jk]",0
1,5.35,2011-06-13,379.30,2011-06-14,373.95,2011-06-10,"Airtel dances to African tune, sees more 3G li...","[airtel, danc, african, tune, see, 3g, licens]",1
2,3.80,2011-06-16,380.55,2011-06-17,376.75,2011-06-15,TCIL may approach company law board against Bh...,"[tcil, may, approach, compani, law, board, bha...",1
3,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Malkani bullish on Bharti Airtel,"[malkani, bullish, bharti, airtel]",1
4,20.20,2011-06-17,389.85,2011-06-20,369.65,2011-06-16,Hold Bharti Airtel: Angel Broking,"[hold, bharti, airtel, angel, broke]",1

        Difference    nextClose    prevClose       target
count  2700.000000  2700.000000  2700.000000  2700.000000
mean      2.496870  1181.912278  1179.415407     0.578519
std      77.984853   877.235840   877.623915     0.493888
min   -1519.450000   251.100000   251.100000     0.000000
25%      -7.312500   451.250000   449.950000     0.000000
50%       3.250000   920.625000   919.700000     1.000000
75%      19.850000  1693.900000  1698.700000     1.000000
max     209.050000  3412.950000  3412.950000     1.000000

,Difference,date,nextClose,nextDay,prevClose,prevDay,text,text_norm,target
18943,-0.95,2018-03-14,311.85,2018-03-15,312.80,2018-03-13,"Buy ICICI Bank, State Bank of India, Adani Ent...","[buy, icici, bank, state, bank, india, adani, ...",0
18944,-0.95,2018-03-14,311.85,2018-03-15,312.80,2018-03-13,News Highlights: Facebook bans far-right group...,"[news, highlight, facebook, ban, farright, gro...",0
18945,-0.95,2018-03-14,311.85,2018-03-15,312.80,2018-03-13,Malaysia based IHH eyes YES Bank's Fortis stake,"[malaysia, base, ihh, eye, ye, bank, forti, st...",0
18946,-0.95,2018-03-14,311.85,2018-03-15,312.80,2018-03-13,"Nifty likely to remain rangebound between 10,3...","[nifti, like, remain, rangebound, ye, bank, gi...",0
18947,-5.95,2018-03-15,312.90,2018-03-16,318.85,2018-03-14,"Buy Yes Bank, target Rs 408; bank well positio...","[buy, ye, bank, target, rs, bank, well, posit,...",0

In [82]:
params = {
    'vocab_size': 2000,
    'PAD': 0,
    'UNK': 1,
    'maxlen': df['text_norm'].map(len).max(),
    'kernels': (3, 3, 3,),
    'num_filters': (2, 2, 2),
    'hidden_dims': 64,
    'batch_size': 32,
    'embedding_size': 64,
    'pool_size': 2,
    'threshold': 0.5,
    'LSTM_units': 64
}

In [83]:
vocabulary = dict()
counter = Counter()

for sent in train['text_norm']:
    counter.update(sent)
    
display("10 most common words")
display(counter.most_common(10)) 
display("Number of unique tokens")
display(len(counter.keys()))

'10 most common words'

[('bank', 9174),
 ('buy', 6843),
 ('rs', 6040),
 ('say', 2813),
 ('sukhani', 2716),
 ('tata', 2467),
 ('infosi', 2400),
 ('sell', 2399),
 ('sbi', 2207),
 ('icici', 2187)]

'Number of unique tokens'

8521

In [84]:
unk_count = 0
pad_count = 0

def convert_to_dict(arr, maxlen, dictionary, pad=True):
    global unk_count, pad_count
    
    if pad:
#         ret = np.full(shape=(maxlen, ), fill_value=params['PAD'])
        ret = [params['PAD'] for x in range(maxlen)]
    else:
        ret = np.full(shape=(len(arr) + 1, ), fill_value=params['PAD'])
        
    for i, word in enumerate(arr):
        if word in dictionary:
            ret[i] = dictionary[word]
        else:
            ret[i] = params['UNK']
            unk_count += 1
            
    pad_count += maxlen - len(arr)
    return ret
    

def create_dataset(cnt, train):
    global pad_count, unk_count
    
    count = [['PAD', -2], ['UNK', -1]]
    count.extend(cnt.most_common(params['vocab_size'] - 2))
    dictionary = dict()
    for word, _ in count:
        dictionary[word] = len(dictionary)
    
    reverse_dictionary = dict(zip(dictionary.values(), dictionary.keys()))
    series = train['text_norm'].apply(convert_to_dict, args=(params['maxlen'], dictionary))
    count[0][-1] = pad_count
    count[1][-1] = unk_count
    return series, dictionary, reverse_dictionary, count

train['description_vectors'], word_dict, word_rev_dict, count = create_dataset(counter, train)
print('Most common words + (PAD and UNK) ', count[:8])
print('Dataset','\n', train['description_vectors'][:5])

Most common words + (PAD and UNK)  [['PAD', 299096], ['UNK', 14734], ('bank', 9174), ('buy', 6843), ('rs', 6040), ('say', 2813), ('sukhani', 2716), ('tata', 2467)]
Dataset
 0    [20, 1, 729, 113, 730, 0, 0, 0, 0, 0, 0, 0, 0,...
1    [20, 1, 1, 1, 41, 729, 1, 0, 0, 0, 0, 0, 0, 0,...
2    [1, 12, 1404, 181, 1405, 160, 24, 20, 0, 0, 0,...
3    [1406, 128, 24, 20, 0, 0, 0, 0, 0, 0, 0, 0, 0,...
4    [33, 24, 20, 131, 162, 0, 0, 0, 0, 0, 0, 0, 0,...
Name: description_vectors, dtype: object

In [85]:
desc = np.array([np.array(x) for x in train['description_vectors']])

x_train, x_test, y_train, y_test = train_test_split(
                                        desc, 
                                        train['Difference'], 
                                        test_size=0.1, 
                                        random_state=4)

print(x_train.shape, x_test.shape, y_train.shape)

(27040, 17) (3005, 17) (27040,)

In [86]:
convolutions = list()

input_shape = (params['maxlen'], )
conv_input = Input(shape=input_shape)

embed = Embedding(params['vocab_size'],
                  params['embedding_size'],
                  input_length=params['maxlen'],
                  name='Embedding'
                 )(conv_input)


embed = Dropout(0.5, name='Dropout_1')(embed)

for i, size in enumerate(params['kernels']):
    conv = Conv1D(filters=params['num_filters'][i], kernel_size=size, padding='same', activation='relu')(embed)
    conv = MaxPool1D(pool_size=params['pool_size'])(conv)
    conv = Flatten()(conv)
    convolutions.append(conv)
    
out = concatenate(convolutions)
out = Dropout(0.4, name='Dropout_2')(out)
out = Dense(params['hidden_dims'], activation='relu', name='Dense_hidden')(out)
out = Dense(1, activation='softmax', name='Dense_final')(out)

model = Model(inputs=conv_input, outputs=out)

In [ ]:
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])
model.fit(x_train, y_train, 
          batch_size=params['batch_size'], 
          validation_data=(x_test, y_test),
          verbose=1, epochs=3, callbacks=[ModelCheckpoint('model_cnn_v1.keras', save_best_only=True)])

Train on 27040 samples, validate on 3005 samples
Epoch 1/3
27040/27040 [==============================] - 11s - loss: 59.6068 - acc: 9.2456e-04 - val_loss: 74.4581 - val_acc: 3.3278e-04
Epoch 2/3
27040/27040 [==============================] - 10s - loss: 59.6068 - acc: 9.2456e-04 - val_loss: 74.4581 - val_acc: 3.3278e-04
Epoch 3/3
10656/27040 [==========>...................] - ETA: 5s - loss: 40.8227 - acc: 0.0012

In [13]:
from gensim.models import Word2Vec

ModuleNotFoundError: No module named 'gensim'

In [111]:
from sklearn.feature_extraction.text import CountVectorizer, TfidfVectorizer
count_vect = TfidfVectorizer()
X = count_vect.fit_transform(train['text'])
X.toarray()
print (type(X))

x_train, x_test, y_train, y_test = train_test_split(
                                        X, 
                                        train['target'], 
                                        test_size=0.1, 
                                        random_state=4)

<class 'scipy.sparse.csr.csr_matrix'>

In [112]:
d_train = xgb.DMatrix(x_train, label=y_train)
d_valid = xgb.DMatrix(x_test, label=y_test)

xgb_params = {
    'eta': 0.12,
    'objective': 'binary:logistic',
    'eval_metric': 'error',
    'max-depth': 6,
    'gamma': 5,
    'subsample': 0.76,
    'colsample_bytree': 0.8
}

watchlist = [(d_train, 'train'), (d_valid, 'valid')]

xgb_model = xgb.train(xgb_params, d_train, 500, watchlist, verbose_eval=20, early_stopping_rounds=50)

[0]	train-error:0.462833	valid-error:0.478536
Multiple eval metrics have been passed: 'valid-error' will be used for early stopping.

Will train until valid-error hasn't improved in 50 rounds.
[20]	train-error:0.421709	valid-error:0.47188
[40]	train-error:0.40233	valid-error:0.462562
[60]	train-error:0.38824	valid-error:0.463561
[80]	train-error:0.376331	valid-error:0.464226
[100]	train-error:0.370932	valid-error:0.464892
Stopping. Best iteration:
[69]	train-error:0.383617	valid-error:0.461231

In [113]:
p = xgb_model.predict(d_train)
mask = p > 0.5

p[mask] = 1
p[np.logical_not(mask)] = 0

In [115]:
p[p == y_train].shape[0]/p.shape[0]

ValueError: Lengths must match to compare